* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Temporary Styles to be removed */

*{
    padding: 2%;
    margin: 2%;
}
section, div{
    border: 1px solid yellow;
}

h1, h2, h3, h4, h5, h6, p, a{
    border: 1px solid red;
}